<div class="card">
    <div class="content">
        <div class="header">
            {{name}}
        </div>
        {{#if data.best}}
        <div class="ui blue ribbon label" id="te">
            Best Value
        </div>
        {{/if}}
        <div class="description">
            <p>Lowest Ask: {{data.ask}}</p>
            <p>Worse Deal by:  ~{{data.loss}}</p>
        </div>  
    </div>
</div>