<div class="card">
    <div class="content">
        <div class="header">
            {{this}}       
            {{this.data}}
        </div>
        <div class="ui blue ribbon label" id="te">
            Best Value
        </div>
        <div class="description">
            <p>Lowest Ask: {{data}}</p>
            <p>Potential Loss (20BTC): ~.004 DASH</p>
        </div>  
    </div>
</div>