<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style/semantic/dist/semantic.min.css">
<script src="style/jquery/dist/jquery.js">
	
</script>
<script src="style/semantic/dist/semantic.min.js"></script>

<html>
    <head>
            <meta charset="utf-8">
            <title>Swanky Hippo</title>
    </head>
    <body>
        <div class="ui three column doubling stackable container">
            {{this}}
             ***********************
            {{bittrex}}
            ^^^^^^^^^^
            {{bittrex.ETH}}
            <div class="ui huge header">Poloniex</div>
            <div class="ui raised secondary segment">
            <div class="ui cards centered">
                {{bittrex.ETH}}          
                {{> card data=bittrex.ETH}}
                {{> card data=bittrex.DASH}}
                {{> card data=bittrex.LTC}}
            </div>
            </div>

        

        </div>
    </body>