<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script src="jquery/dist/jquery.js">
	
</script>
<script src="semantic/dist/semantic.min.js"></script>

<html>
    <head>
            <meta charset="utf-8">
            <title>Swanky Hippo</title>
    </head>
    <body>
        <div class="ui three column doubling stackable container">
                  
            <div class="ui huge header">Bittrex</div>
            <div class="ui raised secondary segment">
                {{#if bittrex}}               
                <div class="ui cards centered">          
                    {{> card data=bittrex.ETH name='Ethereum'}}
                    {{> card data=bittrex.DASH name='Dash'}}
                    {{> card data=bittrex.LTC name='Litecoin'}}
                </div>
                 {{else}}
                 <p>Loading... please refresh the page</p>
                 {{/if}}
            </div>
            
            <div class="ui huge header">Poloniex</div>
            <div class="ui raised secondary segment">
                {{#if poloniex}}
                <div class="ui cards centered">          
                    {{> card data=poloniex.ETH name='Ethereum'}}
                    {{> card data=poloniex.DASH name='Dash'}}
                    {{> card data=poloniex.LTC name='Litecoin'}}
                </div>
                {{else}}
                <p>Loading... please refresh the page</p>
                {{/if}}
            </div>
             
            <div class="ui huge header">BTC-E</div>
            <div class="ui raised secondary segment">
                {{#if btc_e}}
                <div class="ui cards centered">          
                    {{> card data=btc_e.ETH name='Ethereum'}}
                    {{> card data=btc_e.DASH name='Dash'}}
                    {{> card data=btc_e.LTC name='Litecoin'}}
                </div>
                {{else}}
                <p>Loading... please refresh the page</p>
                {{/if}}
            </div>
        </div>
    </body>